
body{
    background-image: url(img/barriles_rotonda.jpg);
   background-repeat: no-repeat;
    background-size:cover;
    
    
}



header{
    background-color:rgba(242, 230, 213,0.7);
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 15px;
  
   
}
h1{
	font-family: 'Fredoka One', sans-serif;
	font-size: 40px;
	color: #fff;
	text-shadow: 0px 0px 10px #06f, 0px 0px 15px #69f, 0px 0px 20px #0ff;
	margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    margin-top: 50px;
    margin-bottom:-15px;
    
    
   
}

.quijote{
    left:0;
   position: absolute;
    top:0;
    width:10%;
    background-color: aliceblue;
}
.valdepenas{
    position: absolute;
    right: 0;
    top: 0;
    width: 7%; 
   background-color: aliceblue;
}

/*.content{
    margin-left:auto;
    margin-right:auto ;
	padding-left:25px;
	padding-right:25px;
    background-color: rgba(255,255,255,0.6);
	height:380px;
	width:500px;
	border: 4px solid blue;
	border-radius:10px;
	color: black;
	font-size: 32px;
	font-family:'Roboto', serif;
	font-weight: 500;
    background-image: url(img/paseo1.png);
    background-size:cover;
    float:right;*/
    



 nav li a:hover{
      background-color: coral;
      }
nav ol{
    border-bottom: solid 4px #556B2F ;
    border-bottom-left-radius: 15px;
    padding-bottom: 15px;
    text-align:center;
    border-top:solid 4px #556B2F;
    padding-top: 15px;
     border-bottom-right-radius: 15px;
   
}
nav li{
    display: inline;
    text-align: center;
  

}
 nav li a {
        text-decoration: none;
        padding: .5em;
        color: white;
        background-color: firebrick;
        font-variant: small-caps;
      }

.portada{
    width:35%;
    position:inherit;
    
    
}
.historia{
    text-align:justify;
    color:azure;
    font-size: 14px;
     margin-left:auto;
    margin-right:auto ;
	padding-left:25px;
	padding-right:45px;
    background-color: rgba(255,255,255,0.8);
	height:550px;
	width:500px;
	border: 4px solid blue;
	border-radius:10px;
	color: black;
    padding-top: 0px;
    
    
}
.historia img{
    float:right;
    padding: 12px 0 0 12px;
    
    
}
p.articuloperiodico{
    display: inline;
    padding-left: 45px;
    
}
#titulo2{
 
    text-shadow:1px 1px 1px rgba(130,130,130,1);
    font-weight:bold;
    text-decoration:underline;
    color:#2E64D1;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:28px;
    text-align:left;
    font-family:lucida sans unicode, lucida grande, sans-serif;
    line-height:1;
   text-indent: 45px;
    margin-top: 0;
}

